<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
           
            <img src="/images/logo.png" alt="PSW Connect Logo">
            <span>PSW Connect</span>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a>
                    <ul class="submenu">
                        <li><a href="/dashboardEmployee">For Employees</a></li>
                        <li><a href="/dashboardUser">For Users</a></li>
                    </ul>
                    <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/meetUs">Meet Us</a></li>
                        <li><a href="/login">Login</a></li>
                </li>
            </ul>
        </nav>
    </header>
    This is a user dashboard page
     <!-- Footer Section -->
     <footer>
        <div class="footer-links">
            <ul>
                <li><a href="/location">Locations</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
                <li><a href="/privacyPolicy">Privacy Policy</a></li>
                <li><a href="/aboutUs">About Us</a></li>
            </ul>
        </div>
        <div class="social-icons">
          
            <a href="#" target="_blank"><img src="/images/facebookLogo.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="/images/instagramLogo.jpeg" alt="Instagram"></a>
            <a href="#" target="_blank"><img src="/images/twitterLogo.jpeg" alt="Twitter"></a>
        </div>
        <p>&copy; 2024 PSW Connect. All rights reserved.</p>
    </footer>
</body>
</html>